.venv/
venv/
.git/
.github/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
.env
data/raw/**
!data/raw/cnes/incoming/README.md
!data/raw/cnes/incoming/exemplo_estabelecimentos_FICTICIO.csv
data/trusted/**
data/analytics/**
data/rejected/**
notebooks/.ipynb_checkpoints/
htmlcov/
coverage.xml
docs/
tests/
